:root {
  --primary: #009ddc;
  --secondary: #171c22;

  --body: #f2f2f2;
  --grey: #d9d8dc;
  --text-label: #2e353f;
  --count-label: #313840;
  --label: #363f4d;
  --value: #2a3340;
  --white: #fff;

  --bg-green: #a5be9c;
  --bg-blue: #2b6696;

  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-24: 24px;
}
